# .github/workflows/allure-report.yml

name: Generate and Publish Allure Report

on:

  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build_and_deploy_report:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'


      - name: Run tests with Maven
        run: mvn -B test


      - name: Generate Allure Report
        uses: allure-framework/allure-action@v2
        with:
          results_path: allure-results
          # Generated reports will be stored in the 'allure-report' folder

      # Publish the report in the branch 'gh-pages'
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

          publish_dir: ./allure-report
